body{
    color:black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


span{
    text-decoration: line-through;
}


.odd{
    list-style-image: url(unchecked_16.png);
    background: skyblue;
    list-style-position: inside;
    padding-left: 50px;
}

.done{
    list-style-image: url(checked_16.png);

    background: gainsboro;
    list-style-position: inside;
    padding-left: 50px;
    
}


.even{
    list-style-image: url(unchecked_16.png);
    background: rgb(183, 230, 249);
    list-style-position: inside;
    padding-left: 50px;
}

